# Web3Forms - obtener en https://web3forms.com
PUBLIC_WEB3FORMS_ACCESS_KEY=

# Sanity CMS - Project ID y Dataset
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production

# Sanity API Token (solo necesario para contenido en borrador / drafts)
# SANITY_API_READ_TOKEN=
