# Dependencies
node_modules/

# Build output
dist/
.astro/

# Environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

.vercel
